<main>
    <section>
        <div id="header">
            <a routerLink="/" class="link"><span class="material-symbols-outlined header-icon-click">
                    arrow_back
                </span></a>
            <h2>Hooking up the Camper</h2>
        </div>
        @if (deviceHasTTS) {
            @if (!checklistComplete) {
                <h3>{{currentItem}}</h3>
                <button (click)="readList()">Read next item</button>
            }
            @if (checklistComplete) {
                <h2>Checklist Completed!</h2>
            }
        }
        @if (!deviceHasTTS) {
            <p>Sorry, it looks like your device doesn't support text-to-speech.</p>
        }
    </section>
</main>