<main>
    @if (!askForUsername) {
        <section id="app-header">
            <h1>Logged in as {{username}}</h1>
            <button (click)="askForUsername = true">switch users</button>
        </section>
        <section id="list-of-lists">
            @for (list of userLists; track list) {
                <div class="list-name">
                    <a (click)="goToList(list.ID)">{{list.title}}</a>
                </div>
            }
            
        </section>
        @if (!showCreateNewList) {
            <div id="new-list-link" (click)="showCreateNewList = true">
                <span class="material-symbols-outlined">
                    add
                </span>
                <p>Start new list</p>
            </div>
        }
        @if (showCreateNewList) {
            
        }
    }
    @if (askForUsername) {
        <div class="list-name">
            <input [(ngModel)]="usernameResopnse" type="text" placeholder="Enter your username" class="Search-input"
            (keydown.enter)="onSubmit(0)" id="setUserBox" />
        </div>
    }
</main>