<main>
    @if (!askForUsername) {
        <section id="app-header">
            <span class="material-symbols-outlined header-icon">
                checklist
                </span>
            <h1>Logged in as {{username}}</h1>
            <span class="material-symbols-outlined header-icon-click" (click)="askForUsername = true">
                settings_account_box
                </span>
        </section>
        <section id="list-of-lists">
            @for (list of userLists; track list) {
                <div class="list-name">
                    <a (click)="goToList(list.ID)">{{list.title}}</a>
                </div>
            }
            <div class="list-name">
                <a routerLink="/tts">Text to speech test</a>
            </div>
        </section>
        @if (!showCreateNewList) {
            <div id="new-list-link" (click)="showCreateNewList = true">
                <span class="material-symbols-outlined">
                    add
                </span>
                <p>Start new list</p>
            </div>
        }
        @if (showCreateNewList) {
            <div class="list-name">
                <input [(ngModel)]="newListName" type="text" placeholder="Enter the title for the list" class="inputBar"
                (keydown.enter)="onSubmit(1)" id="createNewListBar" />
            </div>
        }
    }
    @if (askForUsername) {
        <div class="list-name">
            <input [(ngModel)]="usernameResopnse" type="text" placeholder="Enter your username" class="inputBar"
            (keydown.enter)="onSubmit(0)" id="setUserBar" />
        </div>
    }
</main>
